.home-container {
  position: relative;
  padding: 50px 5% 0px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .logo {
  position: inherit;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.home-container .logo .hover-show {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.home-container img {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid var(--pulse-blue);
  box-shadow:0 0 0.1em var(--pulse-blue-shadow), 0 0 0.1em var(--pulse-blue-shadow),0 0 
  0.1em var(--pulse-blue-shadow);
  opacity: 0;
}

.home-container .logo .circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.200);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.home-container .logo .hover-show.active .circle { opacity: 1 }

.home-container .logo .hover-show.active .circle:nth-child(1) {
  font-size: 4rem;
  color: lightblue;
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}

.home-container .logo .hover-show.active .circle:nth-child(2) {
  position: absolute;
  transform: translateX(150%) translateY(-150%);
  font-size: 4rem;
  color: green;
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(3) {
  position: absolute;
  transform: translateX(210%);
  font-size: 4rem;
  color: yellow;
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(4) {
  position: absolute;
  transform: translateX(150%) translateY(150%);
  font-size: 4rem;
  color: var(--secundary-color);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(5) {
  position: absolute;
  transform: translateY(210%);
  font-size: 4rem;
  color: #a20912;
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(6) {
  position: absolute;
  transform: translateX(-150%) translateY(150%);
  font-size: 4rem;
  color: #42b883;
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(7) {
  position: absolute;
  transform: translateX(-210%);
  font-size: 4rem;
  color: #dd0031;
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(8) {
  position: absolute;
  transform: translateX(-150%) translateY(-150%);
  font-size: 4rem;
  color: var(--secundary-color);
  background-size: cover;
  background-position: center;
}