.theme-switch{
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 1%;
    background: rgba (0 0 0 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(100px);
    opacity: 0;
    animation: fade-in 15s ease 1 0.5s forwards;
    color: white
}