@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video 
  
{ margin: 0; padding: 0; border: 0 }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
 
a { text-decoration: none }

*{ box-sizing: border-box }
    
body { line-height: 1; height: 100% }

ol, ul { list-style: none; }
    
blockquote, q { quotes: none; }
    
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
    
table { border-collapse: collapse; border-spacing: 0 }

::-webkit-scrollbar { width: 0; height: 0 }

html { scroll-behavior: smooth; height: 100% }

#root { width: 100%; height: 100% }

main{ width: 100%; height: 100%; font-family: 'Source Code Pro', monospace }

:root {
  --main-bg-color: #000022;
  --main-color: white;
  --secundary-color: rgb(0, 255, 255);
  --tertiary-color: rgb(234, 0, 255);
  --pulse-blue: rgb(82, 188, 250);
  --pulse-blue-shadow: rgb(108, 161, 197);
  --pulse-purple: rgb(234, 0, 255);
  --pulse-purple-shadow: rgb(183, 0, 255);
  --blur-bg:  rgba (0 0 0 0.3);
  --card-bg: rgba(0, 0, 0, 0.622);
  --card-color: white;
  --card-hover-bg: rgba(255, 255, 255, 0.096);
  --h1-margin: 30px 0;
}

.fade { animation: fade-in 20s ease 1 3s forwards; }

.fade-out { animation: fade-out 12s ease 1 forwards; }

.showspin { animation: showspin 10s linear 1s infinite }

.pulse-border { animation: pulse-border 10s ease infinite }

.pulse-border-profile { animation: fade-in 20s ease 1 3s forwards, pulse-border 10s ease infinite }

@keyframes fade-in { to { opacity: 1 } }

@keyframes fade-out { 
    from { opacity: 0; transform: translate(0) }
    to { transform: translate(100); opacity: 1 }
}
  
@keyframes showspin { to { transform: rotate(360deg) } }

@keyframes pulse-border {
  0% {
    border-color: var(--pulse-blue);
    box-shadow: 0 0 0.1em var(--pulse-blue-shadow), 0 0 0.1em var(--pulse-blue-shadow), 0 0 0.1em var(--pulse-blue-shadow);
  }
  50% {
    border-color: var(--pulse-purple);
    box-shadow: 0 0 0.1em var(--pulse-purple-shadow), 0 0 0.1em rgb(233, 233, 233), 0 0 0.1em var(--pulse-purple-shadow);
  }
  100% {
    border-color: var(--pulse-blue);
    box-shadow: 0 0 0.1em var(--pulse-blue-shadow), 0 0 0.1em var(--pulse-blue-shadow), 0 0 0.1em var(--pulse-blue-shadow);
  }
}